@mixin container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    max-width: 1023px;
    min-width: 768px;
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (max-width: $mobile-width) {
    max-width: 767px;
    min-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@mixin section-title {
  margin: 0;

  font-family: "Cormorant Garamond", Georgia, serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;

  text-align: center;
  text-transform: capitalize;
}

@mixin link {
  position: relative;

  display: inline-block;
  padding: 6px 0;

  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: $basic-black;

  text-decoration: none;
  text-transform: capitalize;

  &::before {
    content: '';
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;

    background-color: $basic-brown;

    transition: 0.1s ease-in;
  }

  &:hover,
  &:focus {
    &::before {
      height: 3px;
    }
  }

  &:active {
    opacity: 0.6;
  }
}
