.blog__wrapper {
  @include container;
}

.blog__header {
  margin-bottom: 60px;

  text-align: center;

  h2 {
    @include section-title;
    margin-bottom: 11px;
  }

  a {
    @include link;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
  }
}

.blog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  @media (max-width: $mobile-width) {
    gap: 40px;
  }
}

.blog__item {
  display: flex;
  align-items: center;

  &:nth-child(2n) {
    .blog-article__content {
      order: -1;
    }
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:nth-child(2n) {
      .blog-article__content {
        order: 0;
      }
    }
  }
}
