.blog__wrapper {
  @include container;
}

.blog__header {
  margin-bottom: 60px;

  text-align: center;

  h2 {
    @include section-title;
    margin-bottom: 11px;
  }

  a {
    @include link;
  }
}

.blog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  margin: 0;
  padding: 0;

  list-style: none;
}
