.blog-article {
  max-width: 570px;
  width: 100%;

  img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }

  @media (max-width: $mobile-width) {
    img {
      min-width: 290px;
      max-width: 100%;
      height: 256px;
    }
  }
}

.blog-article--large {
  position: relative;

  grid-row: 1 / 2 span;
  grid-column-start: 2;

  min-height: 630px;

  .blog-article__image-wrapper {
    max-width: 100%;
  }

  .blog-article__content {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media (max-width: $tablet-width) {
    grid-row: auto;
    grid-column-start: auto;

    min-height: 300px;

    img {
      min-height: 300px;
    }

    .blog-article__image-wrapper {
      max-width: 50%;
    }

    .blog-article__content {
      position: static;
    }
  }

  @media (max-width: $mobile-width) {
    img {
      min-height: 256px;
      min-height: auto;
    }
  }
}

.blog-article__image-wrapper {
  max-width: 50%;
  width: 100%;
  height: 100%;

  @media (max-width: $mobile-width) {
    min-width: 290px;
  }

  @media (max-width: $mobile-width) {
    min-height: 256px;
    height: auto;
  }
}

.blog-article__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 67px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  max-width: 50%;
  width: 100%;
  min-height: 300px;

  background-color: #f0eae4;

  text-align: center;

  box-sizing: border-box;

  time {
    margin-bottom: 13px;

    font-size: 14px;
    line-height: 18px;

    color: $font-color-grey;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 30px;

    font-family: "Cormorant Garamond", Georgia, serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
  }

  a {
    @include link;
  }

  @media (max-width: $tablet-width) {
    justify-content: center;
    padding-top: 25px;

    min-width: 270px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 25px;

    min-width: 290px;
    min-height: 256px;
  }
}
