.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 22px;
  padding-bottom: 23px;

  width: 100%;
  height: 68px;

  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;

  color: $basic-white;

  background-color: $basic-brown;
  border: 1px solid $basic-brown;

  box-sizing: border-box;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.button--stroke {
  color: $font-color-dark;
  background-color: transparent;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 1px 2px $basic-brown;
  }
}
