.filter {
  button[type=submit] {
    margin-bottom: 25px;
  }

  @media (max-width: $tablet-width) {
    form {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-top: 30px;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;

      padding-bottom: 40px;

      max-width: 442px;
      width: 100%;

      background-color: $basic-white;

      box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);

      box-sizing: border-box;

      @media (max-width: $mobile-width) {
        max-width: 270px;
      }
    }
  }

  @media (max-width: $mobile-width) {
    button[type=submit] {
      margin-bottom: 20px;
    }
  }
}

.filter--show {
  @media (max-width: $tablet-width) {
    .filter__form-wrapper {
      display: flex;
    }
  }
}

.filter--nojs {
  form {
    width: 100%;
  }

  .filter__form-wrapper {
    position: static;

    display: flex;

    height: auto;

    background-color: transparent;
    overflow: auto;
  }

  .filter__toggle {
    display: none;
  }

  .filter__close {
    display: none;
  }
}

.filter__form-wrapper {
  @media (max-width: $tablet-width) {
    position: fixed;
    width: 100%;
    height: 100vh;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;

    display: none;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: transparentize($basic-black, 0.5);

    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.filter__button {
  @media (max-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;

    max-width: 362px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    max-width: 230px;
  }
}

.filter__toggle {
  display: none;

  text-decoration: none;

  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: flex;

    margin-right: auto;
    margin-left: auto;

    max-width: 678px;
  }

  @media (max-width: $mobile-width) {
    max-width: 417px;
  }
}


.filter__fieldset-wrapper {
  margin-bottom: 35px;

  border: 1px solid $basic-brown;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
    border: none;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.filter__fieldset {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  border: none;
  border-bottom: 1px solid $basic-brown;

  box-sizing: border-box;

  &:last-of-type {
    border-bottom: none;
  }

  legend {
    padding: 0;
    width: 100%;
  }

  button {
    position: relative;
    display: flex;
    align-items: center;

    padding-top: 22px;
    padding-bottom: 21px;
    padding-left: 25px;

    width: 100%;

    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: start;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 28px;
      right: 24px;

      width: 15px;
      height: 10px;

      background-image: url("./../img/decor/toggle-arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:hover,
    &:focus {
      color: $basic-brown;
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4;
    }
  }

  ul {
    display: none;

    margin: 0;
    padding-right: 24px;
    padding-left: 34px;

    list-style: none;
  }

  li {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: center;

    padding-left: 26px;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    cursor: pointer;

    &::after {
      content: "";
      position: absolute;

      left: 0;

      width: 15px;
      height: 15px;

      border: 1px solid $basic-brown;
    }

    &:hover,
    &:focus {
      color: $basic-brown;
      opacity: 0.8;
    }


    &:active {
      opacity: 0.4;
    }
  }

  input:checked + label {
    &::after {
      background-color: $basic-brown;
    }
  }

  input:focus + label {
    &::after {
      box-shadow: 0 0 1px 2px $basic-brown;
    }
  }

  @media (max-width: $tablet-width) {
    &:last-of-type {
      border-bottom: 1px solid $basic-brown;
    }

    button {
      padding-top: 34px;
      padding-bottom: 34px;
      padding-left: 41px;

      font-size: 18px;

      &::before {
        top: 38px;
        right: 37px;
        width: 24px;
        height: 15px;
      }
    }

    ul {
      padding-left: 50px;
    }

    li {
      margin-bottom: 20px;
    }

    label {
      padding-left: 30px;
      font-size: 16px;

      &::after {
        width: 18px;
        height: 18px;
      }
    }
  }

  @media (max-width: $mobile-width) {
    button {
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 20px;

      &::before {
        top: 28px;
        right: 20px;
        width: 19px;
        height: 19px;
      }
    }

    ul {
      padding-left: 30px;
    }
  }
}

.filter__fieldset--opened {
  button {
    padding-bottom: 22px;

    &::before {
      transform: rotate(180deg);
    }
  }

  ul {
    display: block;
    padding-bottom: 28px;
  }

  .filter__range {
    display: block;
    padding-bottom: 28px;
  }

  @media (max-width: $tablet-width) {
    button {
      padding-bottom: 25px;
    }

    ul {
      padding-bottom: 39px;
    }
  }

  @media (max-width: $mobile-width) {
    ul {
      padding-bottom: 29px;
    }

    .filter__range {
      display: block;
      padding-bottom: 19px;
    }
  }
}

.filter__fieldset--nojs {
  button {
    pointer-events: none;

    &::before {
      display: none;
    }
  }

  ul {
    display: block;
    padding-bottom: 28px;
  }

  .filter__range {
    display: block;
    padding-bottom: 28px;
  }
}

.filter__range {
  display: none;

  margin-top: 3px;
  margin-bottom: 21px;
  padding-right: 25px;
  padding-left: 25px;

  @media (max-width: $tablet-width) {
    margin-top: 7px;
    margin-bottom: 42px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.filter__close {
  position: absolute;
  top: -15px;
  right: -17px;

  display: none;

  padding: 5px;

  width: 32px;
  height: 32px;

  background-color: $font-color-dark;
  background-image: url("./../img/decor/cross-icon-light.svg");
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
  border: none;

  @media (max-width: $tablet-width) {
    display: block;
  }

  @media (max-width: $mobile-width) {
    top: -16px;
    right: -10px;
  }
}
