.follow-us__wrapper {
  @include container;

  // display: none;
}

.follow-us__header {
  margin-bottom: 60px;

  text-align: center;

  h2 {
    @include section-title;

    margin-bottom: 23px;
  }

  a {
    @include link;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 46px;

    h2 {
      margin-bottom: 12px;
    }
  }
}
