.goods__item {
  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;

  padding-bottom: 15px;

  max-width: 270px;

  box-sizing: border-box;

  a {
    color: $font-color-dark;

    text-align: center;
    text-decoration: none;
  }

  img {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;

    transition: 0.2s ease-in-out;
  }

  h3 {
    margin-top: 21px;
    margin-bottom: 6px;

    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  p {
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  &:hover,
  &:focus {
    img {
      box-shadow: 0 0 1px 3px $basic-brown;
    }

    a {
      color: $basic-brown;
    }
  }

  &:active {
    opacity: 0.4;
  }

  @media (max-width: $tablet-width) {
    max-width: 324px;

    margin: 0;
  }

  @media (max-width: $mobile-width) {
    h3 {
      margin-top: 16px;
    }
  }
}

.goods__item--large {
  min-width: 218px;

  img {
    height: auto;
  }

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    max-width: 100%;

    &:nth-of-type(2n) {
      padding-right: 25px;
      padding-left: 0;
    }

    img {
      height: 340px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    min-width: auto;

    img {
      height: auto;
      min-height: 136px;
    }

    &:nth-of-type(2n) {
      padding-right: 0;
    }
  }
}
