.intro {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 261px;

  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.intro--large {
  height: 463px;
}

.intro__text {
  position: relative;
  z-index: 1;

  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;

  font-family: "Cormorant Garamond", Georgia, serif;
  color: $basic-white;

  text-align: center;

  h2 {
    margin-top: 0;
    margin-bottom: 3px;

    font-weight: 700;
    font-size: 34px;
    line-height: 44px;

    text-align: center;
    text-transform: uppercase;
  }

  span {
    display: block;
    font-weight: 400;
    font-style: italic;
    font-size: 38px;
    line-height: 42px;
    text-transform: lowercase;
    letter-spacing: 0;
  }

  p {
    margin: 0;

    font-weight: 500;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 15px;
    padding-left: 15px;

    h2 {
      margin-top: 0;

      font-size: 34px;
      line-height: 40px;
    }

    span {
      font-size: 34px;
      line-height: 38px;
    }
  }
}

.intro__text--large {
  h2 {
    margin-top: 0;

    font-size: 45px;
    line-height: 48px;
    letter-spacing: 0.03em;
  }

  @media (max-width: $mobile-width) {
    h2 {
      margin-bottom: 0;
      font-size: 38px;
      line-height: 44px;
    }
  }
}

// .intro__image-wrapper {
//   position: relative;

//   width: 100%;
//   height: 261px;

//   overflow: hidden;
// }

// .intro__image-wrapper--large {
//   height: 463px;

//   img {
//     height: 100%;
//   }
// }

// .intro--large {
//   height: 463px;

//   img {
//     height: 463px;
//   }
// }

// .intro__wrapper {
//   position: relative;
//   z-index: 1;

//   @include container;

//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
