.intro {
  background-image: url('../../img/intro-bg-desktop@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  h2 {
    margin-top: 42px;

    font-family: "Cormorant Garamond", Georgia, serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 48px;
    letter-spacing: 0.03em;

    color: $basic-white;

    text-align: center;
    text-transform: uppercase;
  }

  span {
    display: block;
    font-weight: 400;
    font-style: italic;
    font-size: 38px;
    line-height: 49px;
    text-transform: lowercase;
    letter-spacing: 0;
  }
}

.intro__wrapper {
  @include container;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 463px;
}
