.login__image-wrapper {
  img {
    display: flex;
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    img {
      height: 138px;
    }
  }

  @media (max-width: $mobile-width) {
    img {
      height: 84px;
    }
  }
}

.login__content {
  padding-top: 50px;
  padding-right: 45px;
  padding-bottom: 40px;
  padding-left: 45px;

  background-color: #f0eae4;

  h2 {
    margin-top: 0;
    margin-bottom: 22px;

    font-family: "Cormorant Garamond", Georgia, serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;

    text-align: center;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: $font-color-grey;

    text-align: center;
  }

  a {
    color: $font-color-dark;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $basic-brown;
    }

    &:active {
      opacity: 0.4;
    }
  }

  @media (max-width: $tablet-width) {
    padding-right: 51px;
    padding-left: 51px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 31px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;

    h2 {
      margin-bottom: 9px;
      font-size: 24px;
    }
  }
}

.login__form {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button[type=submit] {
    margin-top: 45px;
  }

  @media (max-width: $mobile-width) {
    button[type=submit] {
      margin-top: 35px;
    }
  }
}

.login__close {
  display: none;

  padding: 0;

  top: 0;
  right: 0;

  width: 54px;
  height: 55px;

  background-image: url("./../img/decor/cross-icon.svg");
  background-position: center;
  background-repeat: no-repeat;

  background-color: transparent;
  border: none;

  box-sizing: border-box;


  @media (max-width: $tablet-width) {
    width: 60px;
    height: 60px;

    background-size: 35%;
  }

  @media (max-width: $mobile-width) {
    width: 45px;
    height: 44px;
  }
}
