.logo {
  display: flex;

  @media (max-width: $mobile-width) {
    svg {
      width: 52px;
      height: 52px;
    }
  }
}

.logo[href] {
  transition: 0.2s ease-in;

  color: $basic-brown;

  &:hover,
  &:focus {
    transform: scale(1.08);
  }

  &:active {
    opacity: 0.4;
  }
}
