.navigation__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 0;

  width: 100%;

  list-style: none;

  li {
    margin-right: 27px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: flex;
    padding: 10px 5px;

    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

    color: $font-color-dark;

    &:hover,
    &:focus {
      color: $basic-brown;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;

    margin-bottom: 29px;
    margin-left: 0;

    li {
      display: flex;
    }

    a {
      padding-bottom: 11px;
      padding-left: 0;
      padding-right: 55px;

      font-size: 24px;
      line-height: 36px;

      color: $basic-white;

      &:hover,
      &:focus {
        color: transparentize($basic-white, 0.4)
      }
      &:active {
        color: transparentize($basic-white, 0.7)
      }
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}

.navigation__second {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;

  li {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: flex;
    padding-right: 55px;

    font-size: 18px;
    line-height: 23px;

    color: transparentize($basic-white, 0.3);
    text-decoration: none;

    &:hover,
    &:focus {
      color: transparentize($basic-white, 0.1)
    }

    &:active {
      color: transparentize($basic-white, 0.7)
    }
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    margin-bottom: 37px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
  }
}
