.new-products__header {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    @include section-title;
    letter-spacing: 0;
  }

  a {
    @include link;
  }
}

.new-products__wrapper {
  @include container;
}

.new-products__list {
  display: flex;
  justify-content: space-between;
}
