.page-header {
  padding-top: 31px;

  @media (max-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 53px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 35px;
    padding-bottom: 36px;
  }
}

.page-header--opened {
  @media (max-width: $tablet-width) {
    position: absolute;
    z-index: 10;
    left: 0;

    width: 100%;
    min-height: 100vh;

    background-color: $basic-brown;

    .page-header__toggle {
      background-image: url("./../img/decor/mobile-toggle-light.svg");
    }

    .page-header__search-form {
      display: flex;
    }

    .page-header__logo {
      top: -22px;

      a {
        transition: none;
        color: $basic-white;
      }
    }

    .page-header__navigation {
      display: flex;
    }

    .page-header__login {
      display: flex;
    }

    .page-header__cart {
      stroke: $basic-white;
    }
  }

  @media (max-width: $mobile-width) {
    .page-header__logo {
      top: -15px;
    }
  }
}

.page-header--nojs {
  @media (max-width: $tablet-width) {
    position: static;
    min-height: auto;

    background-color: $basic-brown;

    .page-header__toggle {
      display: none;
    }

    .page-header__search-form {
      display: flex;
    }

    .page-header__logo {
      position: static;

      a {
        color: $basic-white;
      }
    }

    .page-header__navigation {
      display: flex;
    }

    .page-header__login {
      display: flex;
    }

    .page-header__cart {
      stroke: $basic-white;
    }
  }
}

.page-header__wrapper {
  @include container;

  position: relative;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.page-header__toggle {
  position: relative;
  display: none;

  margin-right: auto;
  padding: 0;

  width: 25px;
  height: 18px;

  background-image: url("./../img/decor/mobile-toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  border: none;

  box-sizing: border-box;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;

    width: 45px;
    height: 45px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-header__search-form {
  margin-bottom: 10px;
  margin-right: auto;

  max-width: 30%;
  width: 100%;

  @media (max-width: $tablet-width) {
    display: none;
    order: 3;

    margin-top: 63px;

    max-width: 100%;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    margin-top: 46px;
  }
}

.page-header__user-item {
  margin-top: 8px;
  margin-bottom: auto;
  margin-left: 38px;

  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $font-color-dark;

    text-decoration: none;

    &:hover,
    &:focus {
      color: $basic-brown;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  z-index: 10;

  margin-right: auto;
  margin-left: auto;

  a {
    color: $basic-brown;
  }

  svg {
    fill: $basic-brown;
  }

  @media (max-width: $tablet-width) {
    top: auto;
    order: 1;
  }
}


.page-header__login {
  @media (max-width: $tablet-width) {
    display: none;
    order: 15;

    margin-right: auto;

    a {
      font-size: 18px;
      line-height: 23px;

      color: $basic-white;

      &:hover,
      &:focus {
        color: transparentize($basic-white, 0.4)
      }

      &:active {
        color: transparentize($basic-white, 0.7)
      }
    }
  }
}

.page-header__cart {
  padding-top: 3px;

  stroke: $font-color-dark;

  @media (max-width: $tablet-width) {
    order: 2;
  }
}

.page-header__navigation {
  position: relative;

  display: flex;
  justify-content: center;

  padding-top: 42px;
  padding-bottom: 8px;

  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 32px;

    width: 100vw;
    height: 1px;

    background-color: #f6f5f4;
  }

  @media (max-width: $tablet-width) {
    display: none;
    flex-direction: column;
    order: 4;

    padding-top: 26px;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 15px;
  }
}
