.page-footer {
  background-color: $basic-black;

  color: $basic-white;
}

.page-footer__wrapper {
  @include container;

  display: flex;
  justify-content: space-between;
}

.page-footer__navigation {
  display: flex;
  justify-content: space-between;

  max-width: 377px;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: $basic-white;
    text-decoration: none;
    text-transform: capitalize;

    &:hover,
    &:focus {
      color: $basic-brown;
      opacity: 0.9;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
