.page-main {
  flex-grow: 1;
}

.page-main--no-scroll {
  @media (max-width: $tablet-width) {
    position: fixed;
  }
}

.page-main__intro {
  margin-bottom: 60px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.page-main__new-products {
  padding-top: 60px;
  padding-bottom: 114px;

  @media (max-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 64px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 54px;
  }
}

.page-main__catalog {
  padding-top: 20px;
  padding-bottom: 35px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 28px;
  }
}

.page-main__follow-us {
  padding-bottom: 129px;

  @media (max-width: $tablet-width) {
    padding-bottom: 79px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 71px;
  }
}

.page-main__faq {
  padding-top: 120px;
  padding-bottom: 109px;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 74px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.page-main__filter {
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  max-width: 350px;
  width: 100%;
}

.page-main__login {
  padding-top: 30px;
  padding-bottom: 30px;

  max-width: 430px;
  width: 100%;
  margin: auto;

  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    max-width: 442px;
  }

  @media (max-width: $mobile-width) {
    max-width: 270px;
  }
}
