.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-size: 16px;

  color: $font-color-dark;

  overflow-x: hidden;
}
