.page-body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;

  color: $font-color-dark;

  overflow-x: hidden;
}

.page-body--no-scroll {
  margin-left: -17px;
  overflow-y: hidden;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
}

.page-body--open-menu {
  @media (max-width: $tablet-width) {
    margin-right: 0;
    overflow-y: auto;
  }
}

.page-body--open-menu.page-body--no-scroll {
  overflow: hidden;
}
