.range__scale {
  width: 100%;
  height: 1px;

  background-color: #f0eae4;

  @media (max-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;

    max-width: 304px;
  }
}

.range__bar {
  position: relative;
  display: flex;
  align-items: center;

  left: 44px;

  width: 61%;
  height: 1px;

  background-color: $basic-brown;

  label {
    position: absolute;
    top: 20px;

    padding-left: 0;

    &::after {
      display: none;
    }

    &::before {
      content: "$";
      position: absolute;

      left: -7px;
    }

    &:hover,
    &:focus {
      opacity: 1;
      color: $font-color-dark;
    }

    &:active {
      opacity: 0.7;
    }
  }

  input {
    padding-left: 5px;
    width: 60px;

    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    background-color: transparent;
    border: none;

    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  @media (max-width: $tablet-width) {
    left: 26px;

    width: 63%;

    input {
      font-size: 16px;
    }

    label {
      top: 25px;
    }
  }

  @media (max-width: $mobile-width) {
    left: 39px;
  }
}

.range__toggle {
  position: absolute;

  width: 15px;
  height: 15px;

  background-color: $basic-brown;

  border-radius: 50%;

  box-sizing: border-box;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($basic-brown, 10%);
  }

  &:active {
    background-color: darken($basic-brown, 25%);
  }

  @media (max-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  right: 0;
}
