.search-form {
  form {
    width: 100%;
  }
}

.search-form__field {
  position: relative;

  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;

    width: 14px;
    height: 14px;

    background-image: url("../../img/decor/search-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: 0.2s ease-in;
  }

  &:hover,
  &:focus-within {
    &::before {
      transform: scale(1.25);
    }
  }

  input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;

    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $font-color-grey;

    border: none;
    box-sizing: border-box;
  }

  @media (max-width: $tablet-width) {
    width: 100%;

    &::before {
      left: 13px;
      width: 16px;
      height: 16px;

      background-image: url("../../img/decor/search-icon-light.svg");
    }

    input {
      padding-right: 15px;
      padding-left: 40px;

      width: 100%;

      font-size: 18px;
      color: $basic-white;

      background-color: transparentize($basic-white, 0.85);
      border-radius: 21px;

      &::placeholder {
        color: transparent;
      }
    }
  }
}
