.socials__list {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    margin-bottom: 17px;
  }

  a {
    display: flex;
    align-items: center;

    color: $basic-white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $basic-brown;
      opacity: 0.9;
    }

    &:active {
      opacity: 0.6;
    }
  }

  svg {
    width: 15px;
    padding-right: 16px;
  }
}
