.socials__list {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    margin-bottom: 17px;
  }

  a {
    display: flex;
    align-items: center;

    color: $basic-white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $basic-brown;
      opacity: 0.9;
    }

    &:active {
      opacity: 0.6;
    }
  }

  svg {
    width: 15px;
    padding-right: 16px;
  }

  @media (max-width: $tablet-width) {
    max-width: 560px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-bottom: 0;
      margin-right: 14px;

      &:first-child {
        svg {
          width: 13px;
        }
      }
    }

    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    span {
      display: none;
    }

    svg {
      width: 20px;
      height: 21px;
    }
  }
}
