.subscribe__text {
  h3 {
    @include section-title;

    text-align: start;
  }

  p {
    color: $font-color-grey;
  }
}

.subscribe__form {
  input {
    background-color: transparent;
    border: none;
  }

  button {
    position: relative;

    font-family: 'Poppins', Arial, sans-serif;
    color: $basic-white;
    font-size: 16px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &::before {
      content: '';
    }
  }
}
